@font-face {
  font-family: 'Formular';
  src: url('/src/assets/fonts/Formular-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Formular Regular';
  src: url('/src/assets/fonts/Formular.woff2') format('woff2');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

body {
  font-family: 'Formular', sans-serif;
  color:#394155;
  place-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#app {
  display: flex;  
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
  min-height: 100vh;  
  width: 100%;  
  overflow-x: hidden;  
  box-sizing: border-box;  
  padding: 4rem 15px;
}




